  
    
}
#wrapper{
    width:100%;
    margin: 0 auto 0 auto; 

}

#list{
    width:1650px;
    height:40px;
    margin-top: -8px;
    background-color: black; 


}

#list li{
    display: inline;
    float: right;
    padding-right: 75px;
    color: white;
    padding-top:10px;
    



}
#submit{
    display: inline;
    float: right;
    float: top;

}

#middleContent{
    width:800px;
    height:760px;
    

}


#footerlist{

    width: 1650px;
    height:40px;
    margin-top: 90%;
    background-color: black;

}

#footerlist li{
    display:inline;
    float:right;
    padding-right:40px;
    color:deeppink;
    font-size:100%;
    font-weight:bold;
}
    

body{
    z-index:9;
    background: url(./supermarket.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    

}




.button {
	border: 1px  #be22be;
    color: deeppink;
    background-color: black; 
    font-weight:bold;
    font-size: 100%;
}

.button:hover {
	background: transparent;
	color: #b822be;
    font-weight:bold;
    font-size: 100%;
}

.login {
	border: 1px  #be22be;
    color: deeppink;
    background-color: black; 
    font-weight: bold; 
    font-size: 100%;
}

.login:hover {
	background: transparent;
	color: #b822be;
    font-weight:bold;
    font-size: 100%;
}



#container{
    z-index:99;
    display:inline-block;
  height:70%;
  width:70% ;
    padding:5%;
background:rgba(230,190,200,0.8);
  position:fixed;
    margin-left:12%;
    margin-top:2%;
}

#bigTitle {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-align:center;
    line-height:60px;
    border-bottom:10px double rgb(156,230,190);

}

#container img{
    width:500px;
    
}



